.outer-container {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}
.inner-container {
    z-index: 1;
    display: inline-block;
    position: relative;
}
.video-overlay {
    z-index: 2;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}
video {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
canvas {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#photo-frame {
    display: none;
}

h1 {
    font-family: 'Amatic SC', cursive !important;
    text-align: center;
}

.button {
    background-color: lightgray;
    border: black;
    color: cornflowerblue;
    text-align: center;
    border-radius: 10%;
    margin: 3px;
}
.button:active {
    background-color: gray;
}
.button:disabled {
    color: gray;
}
 body {
     background-color: floralwhite;
 }
 .button:disabled:active {
     background-color: lightgray;
 }
 #buttons {
     display: flex;
     justify-content: center;
 }