.outer-container {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}
.inner-container {
    z-index: 1;
    display: inline-block;
    position: relative;
}
.video-overlay {
    z-index: 3;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

video {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100vmin;
    max-height: 100vmin;
}
canvas {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100vmin;
    max-height: 100vmin;
}
#photo-frame {
    display: none;
}

h1 {
    font-family: 'Amatic SC', cursive !important;
    text-align: center;
    font-size: 5vw;
}

.button {
    background-color: lightgray;
    border: black;
    color: cornflowerblue;
    text-align: center;
    border-radius: 10%;
    margin: 3px;
}
#colorpicker {
    width: 24pt;
    height: 24pt;
}

#sizeselector {
    width: 36pt;
    height: 24pt;
}
.button:active {
    background-color: gray;
}
.button:disabled {
    color: gray;
}
body {
    background-color: floralwhite;
}
.button:disabled:active {
    background-color: lightgray;
}

@media (max-height: 500px) {
    .button {
        width: 12pt;
        height: 12pt;
        display: flex;
        justify-content: center;
    }
    .material-icons {
        font-size: 10pt !important;
    }
    #colorpicker {
        width: 12pt!important;
        height: 12pt!important;
        padding: 0!important;
    }

    #sizeselector {
        width: 36pt!important;
        height: 12pt!important;
        padding: 0!important;
    }
}
@media (min-height: 1500px) {
    .button {
        transform: scale(2);
        margin: 24px;
    }

}
 #buttons {
     display: flex;
     justify-content: center;
 }
 #location-text {
     z-index: 2;
     position: absolute;
     top: 0;
     left: 0;
 }